/* Custom CSS overrides */

.publications-page button.sort {
    background: transparent;
    border: none;
}

.publications-page .sort-icon {
    margin-left: 5px;
}

.publications-page .sort-icon.down {
    display: inline-block;
    border-color: black transparent;
    border-width: 6px 6px 0px 6px;
    border-style: solid;
    margin-top: 8px;
}

.publications-page .search-box {
    position: relative;
}

.publications-page .search-box .search-icon {
    position: absolute;
    right: 0;
    top: 15px;
}

.publications-page .publications {
    margin-top: 20px;
}

.publications-page table th {
    background: transparent;
    color: rgba(0, 0, 0, 0.87);
}

nav {
    color: #fff;
    background-color: #691515;
    width: 100%;
}

nav ul li a.active, nav ul li.active, nav ul li a:hover {
    background: #561212;
    color: #fff;
}

.tabs {
    height: auto;
}

.tabs .tab a {
    color: rgba(105, 21, 21, 0.7);
}

.tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: #691515;
}

.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #a92222;
    will-change: left, right;
}

.honors-page .honors .honors-item:hover {
    background: #598392;
    color: #ffffd0;
}

.people-page .collection .collection-item.avatar {
    padding-left: 150px;
    min-height: 180px;
}

.people-page .collection .collection-item.avatar .circle {
    border-radius: 0;
    width: 120px;
    height: 160px;
}

#main-content, #header {
    padding: 0;
}

#header .header-row {
    margin-bottom: 0;
}

.home-page .parallax-container {
    height: 600px;
}

.container.home-container {
    margin-top: 20px;
}

.home-page .parallax-title {
    position: relative;
    z-index: 2;
    margin-top: 100px;
}

.home-page .parallax-title img {
    display: block;
    position: relative;
    height: initial;
    width: initial;
    min-width: auto;
    min-height: auto;
    transform: none;
    left: 0;
}

/* headlinks used on bio page. */
#headlink {
    display:none;
    font-size:16px !important;
    position: fixed;
    top: 130px;
    left: 60px;
}

#headlink2 {
    font-size:24px !important;
}

.people-page .carousel-item .pic-container {
    height: 600px;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.people-page .carousel.carousel-slider, .people-page .carousel .carousel-item {
    height: 600px !important;
}

.people-page .carousel .carousel-item img.lab-pic {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -80px;
}


.subfooter-area .footer-links li {
    margin-bottom: 10px;
}

#subfooter-inside a:link, #subfooter-inside a:visited {
    color: #EDEDED;
    font-size: 16px;
    text-decoration: none;
    border-bottom: 1px dotted #EDEDED;
}

.address{
    color: #EDEDED;
}

#headname{
    padding-left: 130px;
    font-size: 28px;
    display: none;
}

@media (max-width: 767px) {

    .people-page .carousel.carousel-slider, .people-page .carousel .carousel-item {
        height: 400px !important;
    }
    .people-page .carousel-item .pic-container {
        height: 400px;
    }
    .people-page .carousel .carousel-item img.lab-pic {
        margin-top: 0px;
    }
}

/* below large desktop */
@media (max-width: 1200px) {
    #headname{
        font-size: 16px;
    }
}

/* Desktop only */
@media (min-width: 1024px) {
    #headname{
        display: inline-block;
    }
}